.translated {
  padding-top: 40px;
}

body {
  font-family: monospace;
  background-image: url(img/voyager.jpg);
}

#doctor {
  background-image: url(img/doctor.png);
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: right;
  transform: scalex(-1);
  width: 300px;
  height: 400px;
}

h1 {
  font-variant: small-caps;
  text-align: center;
  font-size: 60px;
}

#bodyStuff {
  padding-top: 30px;
}

#header {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(img/data2.png), url(img/borg2.png);
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 150px, 150px;
}

#output {
  background-color: #eee;
  border-radius: 10px;
  font-size: 16px;
}

label {
  font-size: 20px;
}
