.translated {
  padding-top: 40px;
}

body {
  font-family: monospace;
  background-image: url(img/voyager.jpg);
}

#doctor {
  background-image: url(img/doctor.png);
  background-repeat: no-repeat;
  background-size: 150px;
  transform: scalex(-1);
  position: fixed;
  width: 300px;
  height: 800px;
}

h1 {
  font-variant: small-caps;
  text-align: center;
  font-size: 60px;
}

#bodyStuff {
  padding-top: 30px;
}

#header {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#output {
  background-color: #eee;
  border-radius: 10px;
}

label {
  font-size: 20px;
}
